<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landin Page</title>

    <link  rel="icon"   href="img/favicon.ico" type="image/png" />

    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bosstrap base sin estilos adicionales
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    -->

</head>
<body>
  <div class="container-fluid d-block p-1 bg-dark text-white">
    <div class="row justify-content-between">
      <div class="col">
        VIRTUAL MARKET
      </div>
      <div class="col">
        <div class="btn-group d-sm-none btn-block" role="group">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-info btn-sm dropdown-toggle" style="color: white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
          </div>
          <a href="#" class="btn btn-outline-info btn-sm " style="color: white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cuenta
          </a>
        </div>
      </div>
      <div class="col-3 d-none d-sm-block">
        <div class="btn-group btn-group-sm" role="group">
          <a href="#" class="btn btn-outline-info btn-sm" style="color: white;">Ayuda</a>
          <a href="#" class="btn btn-outline-info btn-sm" style="color: white;">Sugerencias</a>
          <a href="#" class="btn btn-outline-info btn-sm" style="color: white;">Cuenta</a>
        </div>
      </div>
    </div> 
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">supermercados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Area de covertura</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>