<%- include ('template/_header')%>

  <!-- Page Content -->
  <div class="container">
    <div class="row p-4">
      <div class="col">
        <div class="card" width="75px">
          <h5 class="card-header">Virtual Market</h5>
          <div class="card-body">
            <p class="card-text">Virtual Market es una plataforma que ayuda a los usuarios a revisar el catalogo de los supermercados y realizar compras, dandole la opcion al usuario de hacerlas sin salir de sus hogares.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-4">
    <div class="col-sm">
    <div class="accordion" id="accordionExample">
    <div class="card">
    <div class="card-header" id="headingOne">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Crear Cuenta
      </button>
    </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      Para realizar un proceso de compra, es necesario que tengas una cuenta:<br>
      • Si tienes una cuenta, haz clic en la opción [▼] al lado de Cuenta, e inicia sesión en Login.<br>
      • Si no tienes una cuenta, haz clic en la opción [▼] al lado de Cuenta, y entra a Registro. Completa todos los datos y verifica que la contraseña cumpla con los requisitos establecidos.<br>
      • Si olvidas tu contraseña, recuerda la opción ¿Olvidaste tu contraseña? para reestablecerla. 
    </div>
    </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingTwo">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Selección de Supermercado
      </button>
    </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
    <div class="card-body">
      Selecciona el supermercado de tu preferencia, en la ubicación más cercana a tu domicilio. Para que la entrega pueda ser de manera rápida y sencilla. 
    </div>
    </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingThree">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Selección de Productos
      </button>
    </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
    <div class="card-body">
      Una vez selecciones tu supermercado, podrás ver un menú con las siguientes opciones: <br>
      • Ver Todos • Mis Favoritos • Nuevos Productos • Ofertas <br> • Paquetes de Comida • Categorías <br>
      <br> Al seleccionar buscar por Categorías encontrarás: <br>
      • Marca Propia • Alimentos • Bebé • Hogar • Limpieza • Bebidas <br> • Mascotas • Higiene • Farmacia • Oficina-Escolar • Tecnología <br> • Farmacia 
    </div>
    </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingFour">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Carrito de Compras
      </button>
    </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
    <div class="card-body">
      En el carrito de compras apareceran los productos que has añadido. Mostrandote los datos de dichos productos, como su nombre, precio, cantidad y una pequeña imagen de demostracion del producto.
    </div>
    </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingFive">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Método de Pago
      </button>
    </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
    <div class="card-body">
      Puedes optar por realizar el pago por tarjeta de credito/debito, pagar por paypal o hacer el pago en la sucursal.
      Si decides agregar una tarjeta de credito/debito, el sistema procesara la información de tal manera que te cobrara el saldo total de los productos agregados.
      Al optar por paypal solo debes haber iniciado sesion en paypal y tener un metodo de pago agregado en dicha plataforma, como tarjeta, cuenta de banco, etc.
      Para el pago en la sucursal se debera llevar codigo qr el cual se podra escanear en el supermercado para buscar los productos que agrego a su carrito.
    </div>
    </div>
    </div>
    <div class="card">
    <div class="card-header" id="headingSix">
    <h2 class="mb-0">
      <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Pedidos
      </button>
    </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
    <div class="card-body">
      El envio de los pedidos puede variar segun el area de residencia del usuario y el supermercado mas cercano. Si decidio pagar con tarjeta o paypal, el producto se le llevara a su casa.
      En caso de optar por pago en efectivo, debera acudir a la sucursal mas cercana trayendo consigo el codigo qr.
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="col-sm">
      <img src="img/proceso.jpg" height="80%">
    </div>
    </div>
    </div>
  </div> 

<%- include ('template/_footer')%>