<%- include ('template/_header')%>
<div class="container-fluid">
    
    <form class="form-inline p-4">
        <h2>Áreas de Cobertura</h2>
        <input class="form-control mr-sm-2 col-8" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-dark" type="submit">Buscar</button>
    </form>
     <div class="row"></div>
        <div class="col">
          <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d63043.62319531751!2d-79.52210171471796!3d9.04309694063051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssupermercado!5e0!3m2!1ses-419!2spa!4v1592970056690!5m2!1ses-419!2spa" width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div><br>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item"><span class="material-icons" style="color: yellow;">place</span>Supermercados Rey</li>
                <li class="list-group-item"><span class="material-icons" style="color: tomato">place</span>Súper Xtra</li>
                <li class="list-group-item"><span class="material-icons" style="color: teal;">place</span>El Machetazo</li>
              </ul>
          </div>
          <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item"><span class="material-icons" style="color: red;">place</span>Súper 99</li>
                <li class="list-group-item"><span class="material-icons" style="color: saddlebrown;">place</span>Mr. Precio</li>
                <li class="list-group-item"><span class="material-icons" style="color: purple;">place</span>Súper Centro El Fuerte</li>
              </ul>
          </div>
          <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item"><span class="material-icons" style="color: blue;">place</span>PriceSmart</li>
                <li class="list-group-item"><span class="material-icons" style="color: orangered;">place</span>Riba Smith</li>
                <li class="list-group-item"><span class="material-icons" style="color: green;">place</span>Justo & Bueno</li>
              </ul>
          </div>
        </div>
      </div>
<%- include ('template/_footer')%>