<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/thanks.css">
    <title>Compra Completada</title>
</head>
<body>
    <div class="title">
        <h1>Gracias<br/>por su Compra!</h1>
       </div>
<%- include ('template/_footer')%>
    

