<%- include ('template/_header')%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title text-center">Iniciar Sesión</h3>
            <hr class="my-4">
            <div class="d-flex justify-content-center">
            <i class="fas fa-user-circle" style='font-size:100px'></i></div>
            
            <form class="form-signin" action="/login" method="POST">
              <div class="form-label-group"><br>
                <input type="email" id="email" name="username" class="form-control" placeholder="Correo Electrónico" style="text-align: center" required autofocus ><br>
              </div>

              <div class="form-label-group text-center">
                <input type="password" id="password" name='password' class="form-control" placeholder="Contraseña" style="text-align: center" required>
                <a class="text-darkyellow" href="/passchange">¿Olvidaste tu contraseña?</a><br><br>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesión</button>
              <div style="text-align:center">
              <a class="text-darkyellow text-center" href="/registro">¿No tienes una cuenta? Regístrate</a>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ('template/_footer')%>