
<%- include ('template/_header')%>
<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Información del Pedido</h5>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">ID Pedido</label>
                <input type="text" class="form-control" id="inputEmail4" value="090876"> 
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Usuario</label>
                <input type="text" class="form-control" id="inputPassword4" value="Mark Johnsan">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Dirección</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="Calle, Corregimiento, Distrito, Provincia">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress2">Supermercado</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Nombre, Localidad">
                  </div>
              <div class="form-group col-md-2">
                <label for="inputCity">Total</label>
                <input type="text" class="form-control" id="inputCity" value="$16.01">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Código</label>                
                <img src="img/code.png" width="100" height="100">
              </div>
            </div>
            <p class="card-text">Nota: Si los datos son correctos, da clic en Aceptar</p>
            <button type="submit" class="btn btn-success">Aceptar</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">¡Felicitaciones!</h5>
          <p class="card-text">Su pedido ha sido completado</p>
          <img src="img/1.jpg" width="450" height="350">
        </div>
      </div>
    </div>
  </div>

  <%- include ('template/_footer')%>

