<%- include ('template/_header')%>
<h3 class="card-header text-center">Todo lo que necesites a tu alcance</h3>
    <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <!--Estaba probando el href - omitir enlace -->
        <a href="#"><img class="card-img-bottom" src="img/1.jpg" alt="Card image cap"></a>
            <div class="card-title text-center"><h4> Supermercados Rey </h4></div>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-img-bottom" src="img/1.jpg" alt="Card image cap">
        <div class="card-title text-center"><h4> Riba Smith </h4></div>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-img-bottom" src="img/1.jpg" alt="Card image cap">
        <div class="card-title text-center"><h4> Súper 99 </h4></div>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> 
    </div>
    </div>
    <div class="card">
        <div class="card-body">
          <img class="card-img-bottom" src="img/1.jpg" alt="Card image cap">
          <div class="card-title text-center"><h4> Súper Centro El Fuerte </h4></div>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> 
      </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-bottom" src="img/1.jpg" alt="Card image cap">
          <div class="card-title text-center"><h4> Súper Xtra </h4></div>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> 
      </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-img-bottom" src="img/1.jpg" alt="Card image cap">
          <div class="card-title text-center"><h4> El Machetazo </h4></div>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> 
      </div>
      </div>
  </div>
  <%- include ('template/_footer')%>