<%- include ('template/_header')%>
<h3 class="card-header text-center"><span class="letra">Todo lo que necesites a tu alcance</span></h3>
    <div class="card-columns">
      <div class="card">
        <div class="card-body">
          <!--Estaba probando el href - omitir enlace -->
          <a href="#"><img class="card-img-bottom" src="img/elrey.jpg" alt="Card image cap"></a>
              <div class="card-title text-center"><h4 class="letra"> Supermercados Rey </h4></div>
              <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#"><img class="card-img-bottom" src="img/ribasmith.jpg" alt="Card image cap"></a>
          <div class="card-title text-center"><h4 class="letra"> Riba Smith </h4></div>
          <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#"><img class="card-img-bottom" src="img/super99.jpg" alt="Card image cap"></a>
          <div class="card-title text-center"><h4 class="letra"> Súper 99 </h4></div>
          <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00/p> 
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#"><img class="card-img-bottom" src="img/elfuerte.jpg" alt="Card image cap"></a>
          <div class="card-title text-center"><h4 class="letra"> Súper Centro El Fuerte </h4></div>
          <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00</p> 
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#"><img class="card-img-bottom" src="img/mrprecio.png" alt="Card image cap"></a>
          <div class="card-title text-center"><h4 class="letra"> Mr. Precio </h4></div>
          <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00</p> 
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#"><img class="card-img-bottom" src="img/justoybueno.jpg" alt="Card image cap"></a>
          <div class="card-title text-center"><h4 class="letra"> Justo & Bueno </h4></div>
          <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00</p> 
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#"><img class="card-img-bottom" src="img/pricesmart.png" alt="Card image cap"></a>
          <div class="card-title text-center"><h4 class="letra"> PriceSmart </h4></div>
          <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00</p> 
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#"><img class="card-img-bottom" src="img/xtra.png" alt="Card image cap"></a>
          <div class="card-title text-center"><h4 class="letra"> Súper Xtra </h4></div>
          <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00</p> 
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a href="#"><img class="card-img-bottom" src="img/elmachetazo.jpg" alt="Card image cap"></a>
          <div class="card-title text-center"><h4 class="letra"> El Machetazo </h4></div>
          <p class="card-text">Horario: 7:00 am - 7:00 pm || Costo de Envío: $3.00</p> 
        </div>
      </div>

    </div>

  <%- include ('template/_footer')%>