
footer
{
    background-color: #163172;
    position:sticky;
     bottom:0;
     width:100%;
     height:60px;
     color:white;
     text-align: center;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.ccd{
  background: rgba(0, 0, 0, 0.5);
}