<!--Carrusel multiple mejorado-->
<!--carusel-->

<section id="multiCardCarousel" class="carousel slide" data-ride="carousel">
  
  <!-- controles -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-right mb-4">
        <a href="#" class="btn btn-outline-info prev material-icons" title="go back">arrow_back_ios</a>
        <a href="#" class="btn btn-outline-info next material-icons" title="next">arrow_forward_ios</a>
      </div>
    </div>
  </div>

  <!--contenedor que lleva todo el carrusel-->
  <div class="container pt-0 mt-2 carousel-inner">

      <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item active mt-0">
      <div class="continer">
        <div class="row">
          <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/hi1-234.jpg"
                    alt="Card izge cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">2.34</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/hi2-196.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">2.07</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 3-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/h3-295.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">10.86</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item mt-0">
      <div class="continer">
        <div class="row">
            <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/h4-326.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">2.49</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/h5-576.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">1.10</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 3-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/h6-270.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">3.11</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item mt-0">
      <div class="continer">
        <div class="row">
            <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/h7-181.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">1.81</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/hi8-267.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">2.67</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 3z-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/hi9-170.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">1.70</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>