<!--Carrusel multiple mejorado-->
<!--carusel-->

<section id="multiCardCarousel" class="carousel slide" data-ride="carousel">
  
  <!-- controles -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-right mb-4">
        <a href="#" class="btn btn-outline-info prev material-icons" title="go back">arrow_back_ios</a>
        <a href="#" class="btn btn-outline-info next material-icons" title="next">arrow_forward_ios</a>
      </div>
    </div>
  </div>

  <!--contenedor que lleva todo el carrusel-->
  <div class="container pt-0 mt-2 carousel-inner">

      <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item active mt-0">
      <div class="continer">
        <div class="row">
          <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title 1</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block">Button</a>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block">Button</a>
                  </div>
            </div>
          </div>
          <!--card 3-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block ">Button</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item mt-0">
      <div class="continer">
        <div class="row">
            <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title 2</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block">Button</a>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block">Button</a>
                  </div>
            </div>
          </div>
          <!--card 3-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block">Button</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item mt-0">
      <div class="continer">
        <div class="row">
            <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title 3</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block">Button</a>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block">Button</a>
                  </div>
            </div>
          </div>
          <!--card 3z-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a class="btn btn-outline-secondary btn-block">Button</a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>