<!--Carrusel multiple mejorado-->
<!--carusel-->

<section id="multiCardCarousel" class="carousel slide" data-ride="carousel">
  
  <!-- controles -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-right mb-4">
        <a href="#" class="btn btn-outline-info prev material-icons" title="go back">arrow_back_ios</a>
        <a href="#" class="btn btn-outline-info next material-icons" title="next">arrow_forward_ios</a>
      </div>
    </div>
  </div>

  <!--contenedor que lleva todo el carrusel-->
  <div class="container pt-0 mt-2 carousel-inner">

      <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item active mt-0">
      <div class="continer">
        <div class="row">
          <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb1-271.jpg"
                    alt="Card izge cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">2.71</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb2-464.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">4.64</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 3-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb3-263.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">2.63</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item mt-0">
      <div class="continer">
        <div class="row">
            <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb4-176.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">1.76</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb5-201.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">2.01</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 3-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb6-216.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">2.16</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item mt-0">
      <div class="continer">
        <div class="row">
            <!--card 1-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb7-197.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">1.97</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 2-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb8-434.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">4.34</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
          <!--card 3z-->
          <div class="col-md-4">
            <div class="card">
              <img class="card-img-top card-img-top-250 img-fluid"
                    src="img/riba/beb9-075.jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-success"><span class="material-icons">shopping_cart</span>Agregar al Carrito</a>
                      </div>
                        <div>
                          <a href="#" class="letra"><i class="far fa-heart" style="font-size: 25px;"></i></a>
                        </div>
                      <small class="text-muted">
                        <b><span class="letra">Precio </span><span class="text-success">0.75</span></b>
                      </small>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>